Options -Indexes +FollowSymLinks
DirectoryIndex index.html
ErrorDocument 404 /404.html

<IfModule mod_authz_core.c>
  Require all granted
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Agar file ya folder mojud hai to direct serve karo
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Agar bina .html ke access ho aur .html file mojud ho
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.+)$ $1.html [L]
</IfModule>
